/* 
font-family: 'Bangers', cursive; - for h2
font-family: 'Signika Negative', sans-serif; - body

*/

body {
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    max-width: 1450px;
    margin: 0 auto;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 44px;
}

/* шапка */

.header {
    background: url('../img/Dog.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 925px;
}

.nav-bar {
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.logo:hover {
    cursor: pointer;
}

.logo h1 {
    font-size: 32px;
    font-family: 'Bangers', cursive;
    color: #f1cdb3;
}

.logo p {
    font-size: 13px;
    letter-spacing: 3px;
    color: white;
}

.nav a {
    text-decoration: none;
    color: #cdcdcd;
    margin-left: 34px;
}

a:hover {
    border-bottom: 3px solid #f1cdb3;
    padding-bottom: 5px;
    color: white;
}

.header-text {
    max-width: 455px;
    margin-top: 240px;
}

.header-text h2 {
    color: #efecd3;
}

.header-text p {
    margin-top: 40px;
    font-size: 15px;
    color: #c2c2c2;
}

.head-btn {
    font-size: 17px;
    margin-top: 44px;
    padding: 18px 42px;
    background: #f1cdb3;
    border: none;
    border-radius: 30px;
    font-family: 'Bangers', cursive;
}

.head-btn:hover {
    background: #fddcc4;
    cursor: pointer;
}

/* about */

.about {
    margin-top: 90px;
}

.about-text {
    display: flex;
    justify-content: space-around;
}

.text h2 {
    font-size: 35px;
    color: #545454;
}

.text p {
    font-size: 15px;
    color: #7a7a7a;
    padding-top: 35px;
    max-width: 420px;
}

/* Pets */

.pets {
    background: #f6f6f6;
    padding-bottom: 30px;
}

.pets-text h2 {
    color: #545454;
    text-align: center;
    padding-top: 75px;
    font-size: 35px;
}

.goods {
    max-width: 290px;
    height: 450px;
    background: #fafafa;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}

.goods-text {
    font-size: 20px;
    color: #646464;
    text-align: center;
}

.goods-btn {
    border: 2px solid #f1cdb3;
    background: #fafafa;
    border-radius: 30px;
    padding: 19px 45px;
    margin-left: 15%;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Bangers', cursive;
    font-weight: 600;
}

.goods-btn:hover {
    background: #f1cdb3;
    cursor: pointer;
}

.goods-text {
    padding-top: 40px;
    font-size: 20px;
    color: #545454;
}

.slider-pets {
    margin-top: 65px;
    margin-bottom: 66px;
}

.pets-btn {
    text-align: center;
    margin-top: 66px;
    padding: 17px 47px;
    border: 1px solid #f1cdb3;
    background: #f1cdb3;
    font-size: 17px;
    font-family: 'Bangers', cursive;
    font-weight: 600;
    border-radius: 30px;
    max-width: 267px;
    margin: auto;
    border: none;
}

.pets-btn:hover {
    cursor: pointer;
    background: #fddcc4;
}

.donation-img {
    margin-top: 87px;
}

.donation-text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.don-text {
    margin-left: 20px;
    max-width: 420px;
}

.don-text h2 {
    font-size: 35px;
    color: #545454;
    padding-top: 60px;
}

.footnote {
    padding-top: 32px;
    font-size: 15px;
    color: black;
}

.card-number {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 9px 14px;
    border: 1px solid #f1cdb3;
    background: #f1cdb3;
    border-radius: 10px;
    max-width: 245px;
}

.card-number i {
    margin-right: 20px;
}

.donation-text p {
    color: #b7b7b7;
    font-size: 12px;
}

.footer {
    background: url('../img/Dog-footer.png') center no-repeat;
    height: 363px;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact h2 {
    font-size: 35px;
    color: white;
    padding-top: 76px;
}

.mail {
    color: #f1cdb3;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mail i, .number i {
    margin-right: 15px;
}

.number {
    padding-top: 32px;
    color: #f1cdb3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.adress {
    margin-left: 165px;
}

.adress h2 {
    font-size: 35px;
    color: white;
    padding-top: 76px;
}


@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 900px;
    }

    .goods {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 720px;
    }

    .nav-bar {
        display: block;
        text-align: center;
    }

    .nav {
        padding-top: 20px;
    }

    .pets {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .wrapper {
        max-width: 350px;
    }

    .about-img,
    .donation-img,
    .adress {
        display: none;
    }
    .footer-contact {
        flex-direction: column;
    }

    .text,
    .donation {
        text-align: center;
    }

    .footnote {
        padding-bottom: 30px;
    }

    .card-number {
        margin: 0 auto;
    }
}

@media screen and (max-width: 414px) {
    .wrapper {
        max-width: 350px;
    }

    .about-img,
    .donation-img,
    .adress {
        display: none;
    }
    .footer-contact {
        flex-direction: column;
    }

    .text,
    .donation {
        text-align: center;
    }

    .footnote {
        padding-bottom: 30px;
    }

    .card-number {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        max-width: 300px;
    }

    .about-img,
    .donation-img,
    .adress {
        display: none;
    }
    .footer-contact {
        flex-direction: column;
    }

    .text,
    .donation {
        text-align: center;
    }

    .footnote {
        padding-bottom: 30px;
    }

    .card-number {
        margin: 0 auto;
    }
}