.sidebar {
    padding: 24px;
}

.nav {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    justify-content: space-between;
    color: black;
}

li a {
    color: #777777;
}

li a:hover {
    text-decoration: none;
    color: #000000;
}

.header {
    height: 654px;
    background: url(../img/home/slider1.png) center no-repeat;
}

.header__title {
    margin: 263px 180px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 11px;
    background: #000000;
    color: white;
}

.header__text {
    text-transform: uppercase;
    margin-top: -230px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    letter-spacing: 11px;
}

.content__link {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #e1e1e1; /* Линия сверху текста */
    border-bottom: 1px solid #e1e1e1; /* Линия снизу текста */
    padding: 16px; /* Поля вокруг текста */
    width: 1135px;
    margin: 0 auto;
 
}

.content__link {
    padding-left: 47px;
    color: #777777;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.content {
    padding-top: 34px;
    text-align: center;
    font-size: 14px;
}

.content__link:hover {
    color: black;
    text-decoration: none;
}

.content__bar {
    margin-top: 35px;
    background: #fafafa;
}

.content__button {
    margin-top: 37px;
    margin-bottom: 75px;
    padding: 11px 25px;
    background: #959595;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
}

.content__button:focus {
    outline: none;
}


.footer__logo {
    margin: 65px 45px;
}

.social {
    padding-left: 60px;
    color: #777777;
    padding-top: 30px;
    padding-bottom: 24px;
    border-top: 1px solid #e1e1e1; /* Линия сверху текста */
    border-bottom: 1px solid #e1e1e1; /* Линия снизу текста */
}

.copywrite {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #9c9c9c;
    padding-top: 38px;
    padding-bottom: 47px;
}

.text_span {
    color: black;
}

.fa-facebook:hover {
    color: blue;
}

.fa-google-plus:hover {
    color: crimson;
}

.fa-twitter:hover {
    color: dodgerblue;
}

.fa-linkedin:hover {
    color: mediumblue;
}

.fa-ravelry:hover {
    color: darksalmon;
}

.fa-pinterest-p:hover {
    color: red;
}

.fa-instagram:hover {
    color: orange;
}