#slider {
    overflow: hidden; 
    width: 600px; 
    height: 320px;  
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide img {
    width: 100%;
}
.arrows { 
    width: 590px;
    height: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.prew , .next {
    color: honeydew;
    height: 100%;
    width: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.prew:hover {
    background: rgb(87, 83, 83);
}
.next:hover {
    background: rgb(87, 83, 83);
}
.noActive {
    background-color: #fff;
    cursor: auto;
}