* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    max-width: 1040px;
    margin: 0 auto;
}
/* Contact Inf. */
.contacts, .number {
    display: flex;
    align-items: center;
}
.naw-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    width: 1026px;
    position: absolute;
    z-index: 999;
}
.contacts .adress {
    display: flex;
    align-items: center;
}
.adress p {
    color: #cac9c7;
    font-size: 11px;
    font-weight: bold;
}
.contacts .adress img {
    margin-right: 13px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style:none;
}
#nav ul li {
	position: relative;
	border-bottom:1px solid #ccc;
	}
	
#nav li ul {
	left: 200px;
	top: 0;
	display: none;
	}
#nav ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	background: black;
	padding: 5px;
	}
#nav li:hover ul, #nav li.jshover ul { 
display: block;
 }

#nav li:hover  a, #nav li.jshover a {
color: black;
background: url(img/fone-tr.png);
}

#nav li:hover ul a:hover, #nav li.jshover ul a:hover {
background-color:#cccccc;
background-image:none;
color:#FFFFFF;
}
.number {
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    color: #c2c5c4;
}
.number a {
    margin-right: 9px;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #cac9c7;
}
.number img {
    margin-right: 3px;
}
.contacts .number {
    margin-left: 41px;
}
.navigation p {
    font-size: 14px;
    font-weight: bold;
    color: #cac9c7;
}
.social {
    display: flex;
    align-items: center;
}
.social img {
    margin-left: 62px;
}
.header .wrapper {
    position: relative;
}
.social img:last-child {
    margin-left: 25px;
}
.contacts {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 999;
}

/* nav */

.menu {
    margin-top: 26px;
}
.menu ul li{
    padding: 8px;
  }
.menu i {
    margin-left: 7px;
}
.menu .sub-menu {
      border-radius: 0;
      width: 215px;
      font-size: 13px;
      z-index: 30;
  }
.menu ul li, .menu ul{
    display: inline-block;
}
.menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #fbd341;
    border-radius: 10px;
}
.menu ul ul{
    display: none;
    position: absolute;
    background-color: rgb(20%, 59%, 89%, 0.8);
    margin-top: 8px;
    margin-left: -22px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 26px;
    box-sizing: border-box;
  }
.menu ul a{
    color: #000000;
    text-decoration: none;
    margin-right: 21px;
}
.menu ul ul a{
    color: #fff;
    text-decoration: none;
    margin-right: 0;
    font-size: 12px;
}
.menu li:hover ul{
    display: block;
} 
.menu li:hover li{
    display: block;
}
/* Offers */
.offers {
    background: url(../img/corall.png) center no-repeat;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 42px;
}
.offers h2 {
    color: #eaebee;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.prev,
.next {
  position: absolute;
  top: 57%;
  
  z-index: 1;
  cursor: pointer;
}
.next {
    right: -17px;
}
.prev {
    left: -10px;
}
.form {
    background: rgb(0, 0, 0, 0.6);
    padding-bottom: 56px;
    padding-top: 53px;
    padding-left: 39px;
    padding-right: 29px;
    align-items: center;
    z-index: 3;
}
sup {
    font-size: 7px;
    color: #9a9a9a;
}
form {
    display: flex;
    align-items: center;
}
input::placeholder {
    color: #e6e6e6;
    font-size: 18px;
    
}
input {
    width: 124px;
    height: 33px;
    margin-right: 30px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #7a818a;
    padding-left: 13px;
    color: #e6e6e6;
    letter-spacing: 1px;
    box-sizing: border-box;
}

/* Select */

select {
    width: 179px;
    height: 30px;
    color: #e5e5e5;
    outline: none;
    border: none;
    border-bottom: 1px solid #787878;
    font-size: 18px;
    padding-left: 11px;
}
option {
    font-size: 18px;
    color: #000;
    margin-top: 16px;
    margin-bottom: 12px;
}
.select {
    display: block;
    max-width: 215px;
    width: 100%;
    position: relative;
}

.new-select {
    padding: 4px 15px;
    cursor: pointer;
    position: relative;
    color: #e5e5e5;
    border: none;
    border-bottom: 1px solid #7a818a;
    width: 179px;
    font-size: 18px;
}

.new-select__list {
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    color: #000000;
    background: white;
    z-index: 1000;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #fbd341;
}

.new-select:after {
    content: '';
    background: url('../img/arrow.png') center no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
    transition: all .27s ease-in-out;
}

/* Select-End */

button[type=submit] {
    background: #fbd341;
    border: none;
    font-size: 18px;
    margin-left: 51px;
    outline: none;
    padding: 17px 30px 14px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 17px;
    padding-bottom: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
/* Tours */
.tours {
    padding-top: 73px;
    padding-bottom: 75px;
}
.tours .tabs {
    display: flex;
    align-items: center;
}
.tours .tabs a {
    margin-right: 32px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.tours .tabs a:focus {
    color: #fbd341;
    transition: background 0s;
}
.tours .tabs p:last-child {
    margin-right: 0;
}

/* Slider */
.slider {
    width: 1206px;
    margin: 0 auto;
    margin-top: 70px;
}
.slider .item {
    display: flex;
    box-sizing: border-box;
    background: #f8f7f7;
    max-width: 412px;
    padding: 13px;
    border-radius: 10px;
    margin-right: 25px;
}
.slick-slide img {
    height: 100px;
}
.prview {
    position: relative;
}
.prview .button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../img/button.png') center no-repeat #fbd341;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.prview .title {
    font-size: 13px;
    font-weight: bold;
    box-sizing: content-box; 
}
.item .line {
    width: 100%;
}
.item .price {
    font-size: 20px;
}
.item .prview {
    margin-left: 28px;
    box-sizing: border-box;
}
.item .time {
    font-size: 9px;
    color: #4d4d4d;
    padding-top: 2px;
    padding-bottom: 10px;
}
.prview p {
    font-size: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.prview sup {
    font-size: 11px;
    color: #c6c5c5;
}
/* advantages */

.advantages {
    background: #f8f7f7;
    padding-top: 45px;
    padding-bottom: 74px;
}
.advantages h2 {
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 59px;
    font-size: 18px;
}
.advantages .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content img {
    width: 400px;
}
.content p {
    width: 560px;
    height: 222px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 25px;
    padding-right: 53px;
    box-sizing: border-box;
    
}
.content p::-webkit-scrollbar-track {
	background-color: #e1e0e0;
    border-left: 4px solid #f8f7f7;
    border-right: 5px solid #f8f7f7;
    
}
.content p::-webkit-scrollbar {
   width: 10px;
   background: #e1e0e0;
}
.content p::-webkit-scrollbar-thumb {
    background: url('/assets/img/thumbs.png') no-repeat;
}
table {
    display: none;
}
/* footer */

.footer {
    background: #22334d;
    padding-top: 50px;
    padding-bottom: 27px;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
}
.about p {
    color: #d7d8db;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 22px;
}
.line {
    height: 1px;
    width: 303px;
    background: #38475f;
}
.about #img {
    padding-bottom: 28px;
}
.about {
    max-width: 328px;
}
.create {
    display: flex;
    align-items: center;
}
.create p {
    font-size: 14px;
    margin-right: 5px;
}
.footer .social img {
    margin-left: 0;
    margin-right: 25px;
}
.footer .social img:last-child {
    margin-right: 0;
}
.footer .name {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer a {
    text-decoration: none;
    color: #ebecee;
    font-size: 14px;
}
.footer li {
    margin-bottom: 8px;
    list-style: none;
}
.footer .tel {
    margin-bottom: 22px;
    color: #b3b6bc;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer .tel img {
    margin-right: 8px;
}
.footer .adres {
    margin-bottom: 17px;
    color: #b3b6bc;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer .adres img {
    margin-right: 11px;
}
/* owl-nav */
.owl-dots {
    position: absolute;
    bottom: 35px;
    left: 282px;
}
.owl-carousel button.owl-dot {
    width: 14px;
    height: 14px;
    background: #caedf0;
    margin-right: 12px;
    border-radius: 50%;
}
.owl-carousel .owl-dot.active {
    background: #fbd341;
}
/* offer */
.offer {
    position: absolute;
    top: 36%;
    width: 933px;
    background: rgb(1, 73, 128, 0.45);
    z-index: 99;
}
.offer-desc p {
    color: white;
    font-size: 27px;
    padding-top: 24px;
}
.offer-desc {
    width: 780px;
    float: right;
}
.offer-desc button {
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #fbd341;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
.menu .sub-menu li {
    padding: 0;
    padding-bottom: 8px;
}
.menu .sub-menu li:last-child {
    padding-bottom: 0;
}
.slick-initialized .slick-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-two .item {
    max-width: 350px;
}
.slider-two {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.slick-track {
    display: flex;
    justify-content: space-between;
}
.owl-two .item {
    background: #f8f7f7;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    display: flex;
}
.slide-two .item img {
    width: 100px;
}
.slide-two .item {
    display: flex;
    background: #f8f7f7;
    border-radius: 5px;
    padding: 10px;
}
.slide-two .item::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: #fbd341;
    border-radius: 50%;
    right: 4%;
    bottom: 12%;
}
.slide-two .item::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 16%;
    background: url(/assets/img/right.png) no-repeat;
}
.owl-item {
    width: 300px;
}
.owl-carousel .slide-two .owl-item {
    width: 300px;
}
.slide-two {
    width: 1239px;
    margin: 0 auto;
    margin-top: 40px;
}
.owl-prev {
    position: absolute;
    bottom: 51%;
    left: -2%;
    outline: none;
}
.owl-next {
    position: absolute;
    right: -2%;
    bottom: 50%;
    outline: none;
}
.item-desc .title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
}
.item-desc .date {
    font-size: 8px;
    color: #949393;
    padding-bottom: 5px;
}
.item-desc {
    margin-left: 20px;
}
.item-desc .line {
    background: #eae9e9;
}
.item-desc .desc {
    font-size: 11px;
    color: #8d8d8d;
    padding-top: 5px;
}
.item-desc .price {
    font-size: 20px;
}
@media all and (max-width: 1024px) {
    .wrapper {
        width: 900px;
    }
    .naw-bar {
        width: 900px;
    }
    .offer {
        top: 10%;
    }
    .slide-two {
        width: 870px;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    table {
        display: none;
    }
    button[type=submit] {
        margin-top: 30px;
    }
}
@media all and (max-width: 768px) {
    .wrapper {
        width: 700px;
    }
    table {
        display: none;
    }
    .naw-bar {
        width: 700px;
    }
    .offer {
        top: 10%;
    }
    .slide-two {
        width: 730px;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    button[type=submit] {
        margin-top: 30px;
    }
    .menu ul a {
        font-size: 12px;
    }
    .contacts {
        right: 2px;
    }
    .offer-desc {
        width: 100%;
    }
    .offer {
        width: 500px;
    }
    .offer-desc p {
        font-size: 16px;
        margin-left: 28px;
    }
    .offer-desc button {
        margin-left: 28px;
    }
    .owl-dots {
        bottom: 15px;
        left: 207px;
    }
    .slide-two .owl-drag .owl-item {
        width: 332px;
    }
}
@media all and (max-width: 375px) {
    .wrapper {
        width: 330px;
    }
    .naw-bar {
        width: 330px;
    }
    table {
        display: block;
    }
    #nav ul {
        width: 373px;
    }
    .naw-bar .logo {
        margin: 0 auto;
    }
    .offer {
        top: 10%;
    }
    .slide-two {
        width: 300px;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content p {
        width: 350px;
    }
    button[type=submit] {
        margin-top: 30px;
    }
    .menu ul a {
        font-size: 12px;
    }
    .contacts {
        right: 2px;
    }
    .offer-desc {
        display: none;
    }
    .offer {
        width: 500px;
    }
    .offer-desc p {
        font-size: 16px;
        margin-left: 28px;
    }
    .offer-desc button {
        margin-left: 28px;
    }
    .owl-dots {
        bottom: 15px;
        left: 207px;
    }
    .slide-two .owl-drag .owl-item {
        width: 332px;
    }
    .footer .wrapper {
        display: block;
        text-align: center;
    }
    .advantages .content {
        display: block;
    }
    .content img {
        width: 333px;
    }
    .content p {
        width: 336px;
        padding-top: 20px;
    }
    .menu {
        display: none;
    }
    .contacts {
        display: none;
    }
    .owl-dots {
        display: none;
    }
    button[type=submit] {
        margin: 0;
        margin-top: 20px;
    }
    input {
        text-align: center;
    }
    .select {
        margin-top: 20px;
    }
}
@media all and (max-width: 414px) {
    .wrapper {
        width: 370px;
    }
    table {
        display: block;
    }
    #nav ul {
        width: 408px;
    }
    .naw-bar .logo {
        margin: 0 auto;
    }
    .naw-bar {
        width: 360px;
    }
    .footer .wrapper {
        display: block;
        text-align: center;
    }
    .advantages .content {
        display: block;
    }
    .content p {
        width: 397px;
    }
    .offer {
        display: none;
    }
    .slide-two {
        width: 360px;
    }
    .menu {
        display: none;
    }
    .contacts {
        display: none;
    }
    .content img {
        width: 371px;
    }
    .content p {
        width: 370px;
    }
    .owl-dots {
        display: none;
    }
    .owl-nav {
        display: none;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    button[type=submit] {
        margin-top: 30px;
    }
    .menu ul a {
        font-size: 12px;
    }
    .contacts {
        right: 2px;
    }
    .offer-desc {
        width: 100%;
    }
    .offer {
        width: 500px;
    }
    .offer-desc p {
        font-size: 16px;
        margin-left: 28px;
    }
    .offer-desc button {
        margin-left: 28px;
    }
    .owl-dots {
        bottom: 15px;
        left: 207px;
    }
    .slide-two .owl-drag .owl-item {
        width: 332px;
    }
}
@media all and (max-width: 375px) {
    #nav ul {
        width: 370px;
    }
}

@media all and (max-width: 360px) {
    .wrapper {
        width: 320px;
    }
    #nav ul {
        width: 355px;
    }
    .slide-two .item::before {
        width: 30px;
        height: 30px;
        right: 4%;
        bottom: 4%;
    }
    .slide-two .item::after {
        width: 20px;
        height: 20px;
        right: 10px;
        bottom: 7%;
    }
    .item-desc .price {
        padding-bottom: 20px;
    }
    .naw-bar {
        width: 320px;
    }
    .naw-bar .logo {
        margin: 0 auto;
    }
    .footer .wrapper {
        display: block;
        text-align: center;
    }
    .advantages .content {
        display: block;
    }
    .content p {
        width: 397px;
    }
    .offer {
        display: none;
    }
    .slide-two {
        width: 300px;
    }
    .menu {
        display: none;
    }
    .contacts {
        display: none;
    }
    .content img {
        width: 290px;
    }
    .content p {
        width: 290px;
    }
    .owl-dots {
        display: none;
    }
    .owl-nav {
        display: none;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    button[type=submit] {
        margin-top: 30px;
    }
    .menu ul a {
        font-size: 12px;
    }
    .contacts {
        right: 2px;
    }
    .offer-desc {
        width: 100%;
    }
    .offer {
        width: 500px;
    }
    .offer-desc p {
        font-size: 16px;
        margin-left: 28px;
    }
    .offer-desc button {
        margin-left: 28px;
    }
    .owl-dots {
        bottom: 15px;
        left: 207px;
    }
    .slide-two .owl-drag .owl-item {
        width: 332px;
    }
    .tours .tabs a {
        font-size: 13px;
    }
}
@media all and (max-width: 320px) {
    .wrapper {
        width: 250px;
    }
    #nav ul {
        width: 316px;
    }
    .slide-two .item::before {
        width: 30px;
        height: 30px;
        right: 4%;
        bottom: 3%;
    }
    .slide-two .item::after {
        width: 20px;
        height: 20px;
        right: 8px;
        bottom: 6%;
    }
    .footer .line {
        display: none;
    }
    .naw-bar {
        width: 250px;
    }
    .footer .wrapper {
        display: block;
        text-align: center;
    }
    .advantages .content {
        display: block;
    }
    .content p {
        width: 397px;
    }
    .offer {
        display: none;
    }
    .slide-two {
        width: 260px;
    }
    .menu {
        display: none;
    }
    .contacts {
        display: none;
    }
    .advantages .content img {
        width: 252px;
    }
    .advantages .content p {
        width: 235px;
    }
    .owl-dots {
        display: none;
    }
    .owl-nav {
        display: none;
    }
    form {
        flex-wrap: wrap;
        justify-content: center;
    }
    button[type=submit] {
        margin-top: 30px;
    }
    .menu ul a {
        font-size: 12px;
    }
    .contacts {
        right: 2px;
    }
    .offer-desc {
        width: 100%;
    }
    .offer {
        width: 500px;
    }
    .offer-desc p {
        font-size: 16px;
        margin-left: 28px;
    }
    .offer-desc button {
        margin-left: 28px;
    }
    .owl-dots {
        bottom: 15px;
        left: 207px;
    }
    .slide-two .owl-drag .owl-item {
        width: 332px;
    }
    .tours .tabs a {
        font-size: 11px;
    }
    .slide-two .item img {
        height: 100px;
    }
    .item-desc .title {
        font-size: 10px;
    }
    .item-desc .desc {
        font-size: 10px;
    }
    .item-desc .price {
        font-size: 16px;
        margin-top: 10px;
    }
}
@media all and (max-width: 768px) {
    .content img {
        width: 320px;
    }
    .content p {
        height: 122px;
        margin-left: 20px;
    }
    .new-select {
        margin-top: 30px;
    }
    .owl-nav {
        display: none;
    }
}